<%
  extra_classes ||= ""
  images ||= ""
  form ||= false
%>


<div class="hero <%= extra_classes %>">

  <div class="swiper-container hero__slider">
    <div class="swiper-wrapper">
      <% images.each do | image | %>
        <div class="swiper-slide">
          <div class="hero__slider__bg" style="background-image: url(<%= image %>);"></div>
        </div>
      <% end %>
    </div>

    <div class="hero__slider__pagination swiper-pagination"></div>
  </div>

  <% if form == true %>
    <div class="hero__form">
    
      <p class="hero__form__title">
        Más información
      </p>
      <%= partial("modules/form-info", :locals => {
        :extra_classes => '',
        :prefix => "hero"
      }) %>
    </div>
  <% end %>

</div>