<%
  modal_selector ||= 'modal_selector'
  extra_classes ||= ""
  title ||= ""
  content ||= ""
%>

<div class="modal <%= extra_classes %>" data-modal="<%= modal_selector %>" data-modal-close>
  <div class="modal__dialog">
    <div class="modal__dialog__close" data-modal-close><span class="icon-close"></span></div>
    <div class="modal__dialog__wrapper">
      <p class="modal__dialog__wrapper__title"><%= title %></p>
      <div class="modal__dialog__wrapper__content"><%= content %></div>
    </div>
  </div>
</div>
