.ubicacion {
  .sector__header {
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
  }
  .sector {
    &.open {
      .sector__header {
        margin-bottom: 0;
      }
    }
  }
  .sector__header__content {
    max-width: 570px;
    @include media("<phablet") {
      max-width: calc(100% - 20px);
    }
  }
  .sector__header__content .btn-arrow-down {
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sector__content {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .content-image__content .text {
    font-size: 15px;
    &.lead {
      font-size: 17px;
    }
    a {
      color: $black;
    }
  }
  .map-img {
    margin-bottom: 40px;
  }
}