<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://casasestrencmallorca.com/es/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://casasestrencmallorca.com/es/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://casasestrencmallorca.com/es/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://casasestrencmallorca.com/es/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://casasestrencmallorca.com/es/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://casasestrencmallorca.com/es/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://casasestrencmallorca.com/es/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://casasestrencmallorca.com/es/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://casasestrencmallorca.com/es/mstile-144x144.png" /> -->


    <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="./mstile-144x144.png" /> -->


    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://development.flyingpigs.es/casas-es-trenc/build/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://development.flyingpigs.es/casas-es-trenc/build/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://development.flyingpigs.es/casas-es-trenc/build/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://development.flyingpigs.es/casas-es-trenc/build/mstile-144x144.png" />

    <title><%= current_page.data.title || "Project Name" %></title>
    <%= stylesheet_link_tag("stylesheets") %>
  </head>
  <body>
    <div id="cookie-message">
        <p>
            Nuestra web utiliza cookies propias para ofrecerle un mejor servicio. Si continúa navegando, consideramos que acepta su uso.
            <br />
            <a href="http://development.flyingpigs.es/casas-es-trenc/build/politica-de-privacidad/">Puede obtener más información aquí.</a>
            <button type="button" class="close-cookies">x</button>
        </p>
    </div>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag("all.fn", "all") %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo28Pb3POxP1WAe2gU42C_f0hjvnCpDgE&callback=initMap"></script>
  </body>
</html>
