.hero {
  position: relative;
  &__slider {
    &__bg {
      width: 100%;
      display: block;
    }
    &__next,
    &__prev {
      background-image: none;
      font-size: 146px;
      color: $white;

      height: auto;
      width: auto;
      margin-top: -73px;
      [class^="icon-"] {
        display: block;
      }
    }
  }
  &__form {
    position: absolute;
    top: 30px;
    left: 70px;
    background-color: $white;
    z-index: 9;

    width: 260px;
    padding: 25px;
    &__title {
      font-size: 12px;
      font-weight: 700;
      color: $black;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 13px;
    }
    .form-item {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      .select {
        display: inline-block;
        width: 33%;
        & + .input {
          display: inline-block;
          width: 65%;
        }
      }
    }
  }
}