.sector {
  padding-top: 30px;
  @include media("<phablet") {
    padding-top: 0;
    &:not(.open) + .sector {
      padding-top: 30px;
    }
  }
  &__header {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 550px;
    width: calc(100% - 60px);
    @include media("<phablet") {
      width: 100%;
      height: 350px;
    }
    &__content {
      padding-bottom: 38px;
      text-align: center;
      @include media("<phablet") {
        max-width: calc(100% - 20px);
      }
      &__title {
        font-family: $font_title;
        font-size: 60px;
        line-height: 80px;
        color: $white;
        font-style: italic;
        font-weight: 700;
        @include media("<phablet") {
          font-size: 40px;
          line-height: 55px;
        }
      }
      &__text {
        color: $white;
        .text {
          font-size: 18px;
          line-height: 32px;
          @include media("<phablet") {
            font-size: 15px;
            line-height: 22px;
          }
        }
        .price {
          font-size: 50px;
          line-height: 65px;
          font-weight: 700;
          color: $white;
          @include media("<phablet") {
            font-size: 35px;
            line-height: 45px;
          }
        }
      }
      .btn-arrow-down {
        background-color: $white;
        height: 34px;
        width: 34px;
        border-radius: 17px;
        line-height: 38px;
        text-align: center;
        font-size: 15px;
        margin: 27px auto 0 auto;

        transition: transform 0.5s;
      }
      .cnt-button {
        padding-top: 22px;
        display: none;
      }
    }
  }
  &__content {
    padding-bottom: 45px;
    display: none;
    overflow: hidden;
    &__info {
      width: calc(100% - 60px);
      padding-top: 40px;
      text-align: center;
      @include media("<phablet") {
        width: calc(100% - 40px);
        margin: 0 auto;
      }
      &__logo {
        width: auto;
        margin: 0 auto 35px auto;
      }
      &__title {
        max-width: 560px;
        margin: 0 auto 20px auto;

        font-family: $font_title;
        font-size: 30px;
        line-height: 40px;
        font-style: italic;
        font-weight: bold;
      }
      &__text {
        max-width: 560px;
        margin: 0 auto 10px auto;
        p {
          font-size: 17px;
          line-height: 24px;
          margin-bottom: 24px;
          color: $grey;
        }
        .price {
          font-size: 30px;
          line-height: 40px;
          color: $black;
          margin-bottom: 0;
          .small {
            display: block;
            font-size: 12px;
          }
        }
      }
    }
    &__list {
      max-width: 810px;
      width: calc(100% - 40px);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media("<phablet") {
        display: block;
      }
      &__item {
        width: calc(50% - 12px);
        margin-bottom: auto;
        padding-bottom: 40px;
        @include media("<phablet") {
          width: 100%;
        }
        .item-image {
          width: 100%;
          margin-bottom: 24px;
        }
        .title {
          font-family: $font_title;
          font-size: 16px;
          line-height: 21px;
          font-style: italic;
          font-weight: 700;
          letter-spacing: 0.8px;
          color: $black;
          margin-bottom: 14px;
        }
        .text {
          font-size: 15px;
          line-height: 24px;
          color: $grey;
        }
      }
    }
    .gallery {
      text-align: center;
      .gallery__top {
        width: calc(100% - 226px);
        margin: 0 auto 30px auto;
        @include media("<phablet") {
          width: 100%;
        }
      }
      .gallery__thumbs {
        width: calc(100% - 226px);
        margin: 0 auto 44px auto;
        padding: 0 50px;
        background-color: $white;
        @include media("<phablet") {
          width: 100%;
          padding: 0 20px;
          margin: 0 auto 20px auto;
        }
        .swiper-slide {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, 0.4);
          }
          &.swiper-slide-active {
            &:before {
              display: none;
            }
          }
        }
        &__prev,
        &__next {
          background-image: none;
          background-color: $white;
          font-size: 16px;
          padding: 14px 20px 14px 11px;
          width: 50px;
          top: 0;
          bottom: 0;
          height: auto;
          margin: 0;
          @include media("<phablet") {
            width: 20px;
            padding: 14px 0 14px 0;
            font-size: 12px;
          }
          [class^="icon-"] {
            height: 16px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
          }
          &.swiper-button-disabled {
            opacity: 1;
          }
        }
        &__prev {
          left: 0;
        }
        &__next {
          right: 0;
        }
      }
      .btn {
        padding-left: 24px;
        padding-right: 24px;

        margin-bottom: 45px;
      }
    }
  }

  &.open {
    .sector__header {
      .sector__header__content {
        .btn-arrow-down {
          transform: rotate(-180deg);
        }
        .cnt-button {
          display: block;
        }
      }
    }
  }
  &--right {
    .sector__header {
      margin-left: 60px;
      @include media("<phablet") {
        margin-left: auto;
      }
    }
    .sector__content {
      .sector__content__info {
        margin-left: 60px;
        @include media("<phablet") {
          margin-left: auto;
        }
      }
    }
  }
}