<%
  extra_classes ||= ''
  legal ||= false
%>
<footer class="footer <%= extra_classes %>">
  <% if !legal %>
    <div class="footer__banner">
      <div class="content__wrapper">
        <ul class="footer__banner__list">
          <li>
            <span class="icon-sketch"></span>
            <span class="text">30 años <br /> de experiencia</span>
          </li>
          <li>
            <span class="icon-house"></span>
            <span class="text">Más de <br /> 1.000 obras hechas</span>
          </li>
          <li>
            <span class="icon-worldwide"></span>
            <span class="text">Presencia <br /> internacional</span>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="content__wrapper">
    <div class="footer__contact">
      <% if !legal %>
        <div class="footer__contact__adress">
          <p class="title"><%= image_tag('content/logo.png', :class => 'logo') %> OFICINA DE VENTAS</p>
          
          <p class="text">Carrer sa Vinyola</p>
          <p class="text">07639 Sa Ràpita - Campos</p>
          <p class="text">Illes Balears, Spain</p>
        </div>
        <div class="footer__contact__mail">
          <p><a href="mailto:sales@grupournova.com">sales@grupournova.com</a></p>
          <p><a href="tel:+34871811998">(+34) 871811998</a></p>
        </div>
        <div class="footer__contact__social">
          <ul>
            <a href="https://www.youtube.com/channel/UCe-9jlQXIZno4bkr6NxWRLQ/videos" target="_blank">
              <span class="icon-youtube"></span>
            </a>
          </ul>
        </div>
      <% end %>
      <div class="footer__contact__legal">
        <p>
          2018. Reservado todos los derechos
        </p>
        <ul>
          <li>
            <a href="http://development.flyingpigs.es/casas-es-trenc/build/aviso-legal/">Aviso legal</a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="http://development.flyingpigs.es/casas-es-trenc/build/politica-de-privacidad/">Política de privacidad</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
