<%
  extra_classes ||= ''
%>
<footer class="footer <%= extra_classes %>">

  <div class="footer__banner">
    <div class="content__wrapper">
      <ul class="footer__banner__list">
        <li>
          <span class="icon-sketch"></span>
          <span class="text">30 años <br /> de experiencia</span>
        </li>
        <li>
          <span class="icon-house"></span>
          <span class="text">Más de <br /> 1.000 obras hechas</span>
        </li>
        <li>
          <span class="icon-worldwide"></span>
          <span class="text">Presencia <br /> en 30 países</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="content__wrapper">
    <div class="footer__contact">
      <div class="footer__contact__adress">
        <p class="title">CASAS ES TRENC OFICINA DE VENTAS</p>
        <p class="text">Carrer sa Vinyola</p>
        <p class="text">07639 Sa Ràpita - Campos</p>
        <p class="text">Illes Balears, Spain</p>
      </div>
      <div class="footer__contact__mail">
        <a href="mailto:sales@grupournova.com">sales@grupournova.com</a>
        <a href="tel:+34871811998">(+34) 871811998</a>
      </div>
      <div class="footer__contact__social">
        <ul>
          <a href="#">
            <span class="icon-youtube"></span>
          </a>
          <a href="#">
            <span class="icon-instagram"></span>
          </a>
          <a href="#">
            <span class="icon-facebook"></span>
          </a>
        </ul>
      </div>
      <div class="footer__contact__legal">
        <p>
          2018. Reservado todos los derechos
        </p>
        <ul>
          <li>
            <a href="./aviso-legal">Aviso legal</a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="./politica-de-privacidad">Política de privacidad</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
