<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">
  <button type="button" class="btn-menu-mobile show-on-mobile"><span class="menu-bar"></span></button>
  <div class="header__logo">
    <div class="header__logo__left">
      <%= image_tag('content/logo.png', :class => 'logo') %>
      <p>(Directo del promotor)</p>
    </div>
    <div class="header__logo__urnova">
      <%= image_tag('content/logo-urnova.png', :class => 'urnova') %>
    </div>
  </div>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="#">Sectores</a>
      </li>
      <li>
        <a href="#">Viviendas</a>
      </li>
      <li>
        <a href="#">Ubicación</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
      <li class="menu-lang">
        <div class="cnt-lang-selector">
          <button type="button" class="lang-selector-val">
            <span class="flag flag-es"></span>
            <span class="text">ES</span>
          </button>
          <ul class="lang-list">
            <li>
              <a href="#" class="lang-selector-val">
                <span class="flag flag-es"></span>
                <span class="text">EN</span>
              </a>
            </li>
            <li>
              <a href="#" class="lang-selector-val">
                <span class="flag flag-es"></span>
                <span class="text">DE</span>
              </a>
            </li>
            <li>
              <a href="#" class="lang-selector-val">
                <span class="flag flag-es"></span>
                <span class="text">FR</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header__nav__info">
        <button type="button" class="btn-info">
          <span class="icon-mail"></span>
          <span class="text">+ info</span>
        </button>
      </li>
    </ul>
  </nav>
</header>
