<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">
  <nav class="header__nav">
    <ul>
      <li>
        <a href="#">Sectores</a>
      </li>
      <li>
        <a href="#">Viviendas</a>
      </li>
      <li>
        <a href="#">Ubicación</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
      <li>
        ES
      </li>
      <li class="header__nav__info">
        <button type="button" class="btn-info">
          <span>_^_</span>
          <span>+ info</span>
        </button>
      </li>
    </ul>
  </nav>
</header>
