---
title: No encontrado
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

  
<div class="error">
  <div class="error__image">
    <%= image_tag('content/franciscogarvi.com_B7K8527.jpg', :class => '') %>
  </div>
  <div class="error__content">
    <div class="content__wrapper">
      <p class="error__content__error">404</p>
      <p class="error__content__title">Lo sentimos, no hemos podido encontrar la página que buscabas.</p>
    </div>
  </div>

</div>
<%= partial("shared/footer", :locals => {
  :legal => true
}) %>
