---
title: Home Sectores
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero", :locals => {
    :extra_classes => '',
    :images => ['content/hero-home.png', 'content/hero-home.png'],
    :form => true
  }) %>

</div>
<%= partial("shared/footer") %>
