---
title: Home Sectores
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero", :locals => {
    :extra_classes => '',
    :image => 'content/hero-home.png'
  }) %>

</div>
<%= partial("shared/footer") %>
