---
title: Ubicación
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'ubicacion'
}) %>

<div class="content__wrapper ubicacion">

  <%= partial("modules/sector", :locals => {
    :extra_classes => 'sector--fullwidth',
    :type => 'ubicacion',
    :title => 'El mejor entorno y ubicación',
    :image => '../assets/images/content/ubicacion.jpg',
    :text => '<p class="title">Pensado para descansar</p>',
    :content => partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--right',
                  :image => 'content/ubicacion-playas.jpg',
                  :small_title => 'lorem ipsum',
                  :title => 'Playas',
                  :content => '<p class="text lead">La playa de Es Trenc es un arenal virgen de más de tres kilómetros de largo muy apreciada por su fina arena blanca y por sus aguas cristalinas.</p>
                    <p class="text">La zona ha sido declarada de especial interés turístico por su atractivo natural y consta de una superficie de 1.500 hectáreas de las que forman parte playas como Es Trenc, Es Morters o Ses Covetes, además de dunas protegidas, salinas y tierras agrícolas cercanas.</p>
                    <p class="text">Existen muy pocas urbanizaciones en la zona. Una perfecta oportunidad para comprar su casa junto a un enclave costero de belleza única.</p>'
                }) + 
                partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--left',
                  :image => 'content/ubicacion-puerto.jpg',
                  :small_title => 'magnifico',
                  :title => 'Puerto deportivo',
                  :content => '<p class="text lead">Apartamentos exclusivos de lujo en Casas Es Trenc – Buganvilla. Junto a los puertos deportivos de S´Estanyol y Sa Ràpita en Mallorca.</p>
                    <p class="text">La urbanización Casas de es Trenc – Buganvilla está localizada a pocos minutos de ambos puertos donde podrá practicar sus deportes náuticos favoritos. Una oportunidad única para tener su propia vivienda de lujo exclusivo y practicar deportes en el mar.</p>
                    <p class="text">Su casa junto al mar y a sus deportes favoritos. Todo en la misma zona. Un auténtico lujo.</p>'
                }) + 
                partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--right',
                  :image => 'content/ubicacion-golf.jpg',
                  :small_title => 'buen swing',
                  :title => 'Golf',
                  :content => '<p class="text lead">Excelentes campos de golf para amateurs y profesionales le esperan a pocos minutos de su propia residencia exclusiva de lujo en <a href="#">Casas Es Trenc – Buganvilla.</a></p>
                    <p class="text">En solo 15 minutos llegue al campos de golf como Vall D’Or, Maioris o Son Antem y muy cerca del nuevo proyecto del campo de golf de Sa Vinyola. Es una oportunidad única para alojarse en su propia casa en Mallorca y jugar al golf en algunos de los mejores campos de la isla.</p>'
                }) + 
                partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--left',
                  :image => 'content/ubicacion-senderismo.jpg',
                  :small_title => 'lorem ipsum',
                  :title => 'Senderismo',
                  :content => '<p class="text lead">La playa de Es Trenc es un arenal virgen de más de tres kilómetros de largo muy apreciada por su fina arena blanca y por sus aguas cristalinas.</p>
                    <p class="text">La zona ha sido declarada de especial interés turístico por su atractivo natural y consta de una superficie de 1.500 hectáreas de las que forman parte playas como Es Trenc, Es Morters o Ses Covetes, además de dunas protegidas, salinas y tierras agrícolas cercanas.</p>
                    <p class="text">Existen muy pocas urbanizaciones en la zona. Una perfecta oportunidad para comprar su casa junto a un enclave costero de belleza única.</p>'
                }) + 
                partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--right',
                  :image => 'content/ubicacion-bici.jpg',
                  :small_title => 'recorre el sureste de mallorca',
                  :title => 'Bici',
                  :content => '<p class="text lead">Su casa en Mallorca para practicar ciclismo. Sienta las suave brisa del mar y de la montaña mientras pasea con su familia.</p>
                    <p class="text">Piérdase por la isla de Mallorca en su bicicleta a través de kilómetros y kilómetros de paseos para todos los niveles.</p>
                    <p class="text">Practique el ciclo turismo en todo tipo de rutas. Pausadas, con suaves desniveles o, más exigentes, con puertos de primera categoría si lo desea. Una isla perfecta para disfrutar de todo tipo de recorridos.</p>
                    <p class="text">Cientos de kilómetros de tranquilas carreteras con una bellísima orografía hacen de Mallorca un paraíso donde gentes de variadas nacionalidades convergen para la práctica del ciclismo.</p>'
                }) + 
                partial("modules/content-image", :locals => {
                  :extra_classes => 'content-image--left',
                  :image => 'content/ubicacion-ocio.jpg',
                  :small_title => 'el mejor',
                  :title => 'Ocio',
                  :content => '<p class="text lead">Conozca Mallorca como destino cultural de primer orden. Disfrute de su oferta de ocio. Gastronomía, fiestas, monumentos y mucho más cerca de su propia casa para su tiempo libre junto a su familia y amigos.</p>
                    <p class="text">Descubra Mallorca, sus playas, excursiones, cultura, ocio, espectáculos, etc. Todo lo que pueda imaginar a pocos minutos de su propia y exclusiva casa <a href="#">Es Trenc – Buganvilla.</a></p>'
                })
  }) %>

  <%= image_tag('content/mapa-ubicacion.jpg', :class => '') %>

</div>
<%= partial("shared/footer") %>
