---
title: Viviendas
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'viviendas'
}) %>

<div class="content__wrapper viviendas">

  <%= partial("modules/sector", :locals => {
    :extra_classes => 'sector--left',
    :type => 'vivienda',
    :title => 'Áticos con terraza',
    :image => '../assets/images/content/vivienda-atico.jpg',
    :text => '',
    :content => '<div class="sector__content__info">
                  <p class="sector__content__info__title">Áticos</p>
                  <div class="sector__content__info__text">
                    <p>Impresionantes áticos en venta en Mallorca para entrar a vivir ya. Con todas las licencias aprobadas le esperamos en Casas Es Trenc – Buganvilla. Su casa a menos de cinco minutos en coche de las mejores playas del mar Mediterráneo. Disfrute de las vistas y del sol de Mallorca en su propia terraza en una ubicación privilegiada.</p>
                    <p>Le ofrecemos áticos de 85 metros cuadrados de arquitectura mediterránea clásica con lujosos y luminosos interiores de moderno diseño. Amplias y soleadas terrazas de 25 a 40 metros cuadrados que le ofrecerán vistas espectaculares donde podrá disfrutar de la brisa marina.</p>
                    <p>Todo en un entorno inigualable, en un ambiente exclusivo de paz y tranquilidad.</p>
                  </div>
                </div>',
    :modal_prefix => 'catalog01',
    :images_gallery => [
      'content/gallery/aticos/casas-es-trenc_MG_4471-1.jpg',
      'content/gallery/aticos/Casas-es-Trenc-81-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-319-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-340-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-B-bathroom-1-n-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-B-bedroom-1a-n-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-B-bedroom-2-n-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-B-kitchen-n-1618x1080.jpg',
      'content/gallery/aticos/Casas-es-Trenc-B-tarrase-n-1618x1080.jpg',
      'content/gallery/aticos/Casas-Es-Trenc-Buganvilla-107-1618x1080.jpg',
      'content/gallery/aticos/casas-es-trenc-f1-IMG_3710-1620x1080.jpg',
      'content/gallery/aticos/casas-es-trenc-f1-salon2-1-1621x1080.jpg',
      'content/gallery/aticos/casas-es-trenc-f1-salon4-1-1643x1080.jpg',
      'content/gallery/aticos/casas-es-trenc-f1a-dormitorio2-z-1622x1080.jpg',
      'content/gallery/aticos/Casas-Es-Trenc-roof-tarrace-solarium-1618x1080.jpg'
    ]
  }) %>

  <%= partial("modules/sector", :locals => {
    :extra_classes => 'sector--right',
    :type => 'vivienda',
    :title => 'Bajo con jardín',
    :image => '../assets/images/content/vivienda-bajo.jpg',
    :text => '',
    :content => '<div class="sector__content__info">
                  <p class="sector__content__info__title">Bajos</p>
                  <div class="sector__content__info__text">
                    <p>Casas de arquitectura mediterránea clásica con lujosos y luminosos interiores de moderno diseño en un espectacular entorno y con las mejores calidades. Listas para entrar a vivir y con todas las licencias aprobadas. Casas Es Trenc – Buganvilla, venta de viviendas muy próximas a la playa de Es Trenc en una zona muy tranquila.</p>
                    <p>Aproveche las ventajas de vivir en una planta baja. Acceda directamente a la piscina desde su casa o simplemente siéntese a disfrutar de los amplios jardines llenos de plantas que rodean su vivienda.</p>
                  </div>
                </div>',
    :modal_prefix => 'catalog02',
    :images_gallery => [
      'content/gallery/bajos/casas-es-trenc_MG_4494-1622x1080.jpg',
      'content/gallery/bajos/Casas-es-Trenc-96-B-1618x1080.jpg',
      'content/gallery/bajos/Casas-es-Trenc-180-f1-cocina-1-1618x1080.jpg',
      'content/gallery/bajos/Casas-es-Trenc-218-f1-pb-1618x1080.jpg',
      'content/gallery/bajos/Casas-es-Trenc-273-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-B-living-room-n-1618x1080.jpg',
      'content/gallery/bajos/Casas-Es-Trenc-Buganvilla-102-1618x1080.jpg',
      'content/gallery/bajos/Casas-Es-Trenc-Buganvilla-288-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-buganvilla-apartments-mallorca-B7K4289-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-buganvilla-luxury-apartments-mallorca-B7K3449-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-buganvilla-luxury-apartments-mallorca-B7K3470-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-buganvilla-luxury-apartments-mallorca-B7K3476-1618x1080.jpg',
      'content/gallery/bajos/casas-es-trenc-f1-pb-dormitorio2-1622x1080.jpg',
      'content/gallery/bajos/Cases-des-Trenc-203-f1-pb-terraza2-1618x1080.jpg',
      'content/gallery/bajos/Cases-es-Trenc-188-f1-pb-salon-1618x1080.jpg'
    ]
  }) %>

</div>
<%= partial("shared/footer", :locals => {
  :legal => false
}) %>
