---
title: Viviendas
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper viviendas">

  <%= partial("modules/sector", :locals => {
    :extra_classes => 'sector--left',
    :type => 'vivienda',
    :title => 'Áticos con terraza',
    :image => '../assets/images/content/vivienda-atico.jpg',
    :text => '',
    :content => '<div class="sector__content__info">
                  <p class="sector__content__info__title">Áticos</p>
                  <div class="sector__content__info__text">
                    <p>Impresionantes áticos en venta en Mallorca para entrar a vivir ya. Con todas las licencias aprobadas le esperamos en Casas Es Trenc – Buganvilla. Su casa a menos de cinco minutos en coche de las mejores playas del mar Mediterráneo. Disfrute de las vistas y del sol de Mallorca en su propia terraza en una ubicación privilegiada.</p>
                    <p>Le ofrecemos áticos de 85 metros cuadrados de arquitectura mediterránea clásica con lujosos y luminosos interiores de moderno diseño. Amplias y soleadas terrazas de 25 a 40 metros cuadrados que le ofrecerán vistas espectaculares donde podrá disfrutar de la brisa marina.</p>
                    <p>Todo en un entorno inigualable, en un ambiente exclusivo de paz y tranquilidad.</p>
                  </div>
                </div>'
  }) %>

  <%= partial("modules/sector", :locals => {
    :extra_classes => 'sector--right',
    :type => 'vivienda',
    :title => 'Bajo con jardín',
    :image => '../assets/images/content/vivienda-bajo.jpg',
    :text => '',
    :content => '<div class="sector__content__info">
                  <p class="sector__content__info__title">Bajos</p>
                  <div class="sector__content__info__text">
                    <p>Impresionantes áticos en venta en Mallorca para entrar a vivir ya. Con todas las licencias aprobadas le esperamos en Casas Es Trenc – Buganvilla. Su casa a menos de cinco minutos en coche de las mejores playas del mar Mediterráneo. Disfrute de las vistas y del sol de Mallorca en su propia terraza en una ubicación privilegiada.</p>
                    <p>Le ofrecemos áticos de 85 metros cuadrados de arquitectura mediterránea clásica con lujosos y luminosos interiores de moderno diseño. Amplias y soleadas terrazas de 25 a 40 metros cuadrados que le ofrecerán vistas espectaculares donde podrá disfrutar de la brisa marina.</p>
                    <p>Todo en un entorno inigualable, en un ambiente exclusivo de paz y tranquilidad.</p>
                  </div>
                </div>'
  }) %>

</div>
<%= partial("shared/footer") %>
